---
import { Icon } from "astro-icon";
import { Container } from "./index.astro";
import { colorStandout } from "../styles/vars.astro";
import { social } from "./social.astro";

const { title = "", name = "" } = Astro.props;
---

<section>
  <Container>
    <div class="hero--container">
      <div class="hero-intro--container">
        <h1>
          <span class="title">{title}</span>
          <span class="name text-sky-500">{name}</span>
        </h1>

        <ul class="social">
          {
            social.map((socialItem) => (
              <li class="mr-1">
                <a
                  class="flex"
                  href="https://github.com/johnsonta87"
                  target="_blank"
                >
                  <Icon
                    class="icon mr-1"
                    name={socialItem.icon}
                    role="img"
                    aria-label={socialItem.name}
                  />
                  <span>{socialItem.name}</span>
                </a>
              </li>
            ))
          }
          <li>
            <a class="flex" href="mailto:jnsn.ta@gmail.com">
              <Icon class="icon mr-1" name="ic:twotone-mail" />
              <span>Email</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="hero-image--container">
        <img
          alt="Johnson Ta"
          class="h-40 w-40 rounded-full shadow-md mb-2"
          height="auto"
          loading="eager"
          src="../images/johnsonta.jpg"
          width="auto"
        />
      </div>
    </div>
  </Container>
</section>

<style lang="scss" scoped define:vars={{ colorStandout }}>
  .hero--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3em;
    z-index: 0;

    @media screen and (max-width: 644px) {
      flex-direction: column;
    }

    .hero-intro--container {
      padding: 2rem 0 0;
      text-align: right;

      @media screen and (max-width: 644px) {
        width: 100%;
        text-align: center;
      }

      > h1 {
        font-size: 2.25rem;
        font-weight: 800;
        line-height: 1.1;

        @media screen and (max-width: 644px) {
          margin-bottom: 0.35em;
        }

        .title {
          display: block;
          font-size: 1.5rem;
          line-height: 1rem;

          @media screen and (max-width: 767px) {
            font-size: 1rem;
          }
        }

        .name {
          font-size: 4.5rem;

          @media screen and (max-width: 767px) {
            font-size: 2rem;
          }
        }
      }
    }

    .hero-image--container {
      cursor: pointer;
      aspect-ratio: 1/1;
      border-radius: 999px;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotate(15deg);
      }

      img {
        max-height: 10rem;
        transition-duration: 0.15s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .social {
    list-style: none;
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding: 0;
    justify-content: flex-end;

    @media screen and (max-width: 644px) {
      justify-content: center;
    }
  }
</style>
